@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');
::before,
::after{
box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0%;
}
img{
    max-width: 100%;
}
body{
    font-family: "Montserrat" , sans-serif;
    line-height: 1.3 ;
    font-size: 1.3rem;
}
a{
    text-decoration: none;
}
.logo{
    font-size: 21px;
    font-weight: bold;
    color: #fff;
}
h1,a,h2,h3,.logo{
    font-family: "Oswald" , sans-serif;
}
ul{
    list-style-type: none;
}
  .nav__links li a {
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
    color: #ffff;
}
.nav__links--style{
    padding: 0.5rem 0.6rem;
    background-color: #A59678;
    border-radius: 18px;
}
.intro h1{
    font-size: 60px;
}
header{
    background-color: #2E323F;
    padding: 1rem;
 
}
.nav__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__links{
    display: flex;
   text-transform: uppercase;
}
.nav__links li{
    margin-left: 0.5rem;
}
.hero{
    background-color: #3B4050;
    min-height: 600px;
}
.container{
    padding: 100px 0;
    margin: 0 auto;
    max-width: 1200px;
}
.intro,.intro__text{
  padding: 0 50px;
   margin: 1.5rem;
}
.intro h1{
    color: #fff;
    line-height: 1.1;
   
}
.intro span{
    color: #A59678;
}

.intro__text p {
    color: #ffff;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.intro__text--button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase; 
    font-weight: 900;
    background-color: #A59678;
    padding: .75em 2em;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #ffff;
   border:none;
}


.first{
    background-color: #FFFFFF;
    padding: 0 50px;
}
.first h2{
    color: #A59678;
}

 .col{
padding-bottom: 1rem;
}
.second{
    background-color: #ffff;
    padding:0 50px
}
.second > .container > .col h2{
 margin-bottom: 1rem;
}
.second > .container > .col p{
    margin-bottom: 1rem;
}
.second__img{
    width: 100%;
margin-bottom: 1rem;
}
.column{
    background-color: #3B4050;
    padding: 1rem ;
    text-align: center;
    margin-bottom: 1rem;
}
.column h2{
    color: white;
}
.column p{
    color: #FFFFFF;
}
footer{
    background-color: #3B4050;
    padding:0 50px
 
}
.footer__head{
    color: #ffff;
   font-size: 60px;
   margin-bottom: 1.7rem;
   text-align: center;
}
.second__title{
 color:  #A59678;   
}
.footer__col{
    color:  #A59678;
    margin-bottom: 1.2rem;
}
.col ul li{
    color:#FFFF;
    margin-bottom: 0.7rem;  
}
.footer__col--p{
    color: #FFF;
}


@media screen and (min-width: 700px){
    .nav__links li{
        margin-right: 2rem;

    }
    .second__img{
   align-self: flex-start;
    }
    .row{
        display: flex;
        justify-content:space-between;
        gap: 1.5em;
    }
    footer .col{
        width: 25%;
        text-align: center;
    }
    .cols{
        width: 30%;
    }
    .flex{
        display: flex;
    }
   .column{
      margin-right: 1rem;
  }
}
@media screen and (min-width: 1000px){
    .nav__links li{
        margin-right: 2.5rem;
    }
    .intro h1{
        font-size: 90px;
    }
    .intro__text{
        align-self: flex-end;
    }
    .intro__text p{
        font-size: 25px;
        line-height: 1.3;
    }
    .first > .container >.col{
        text-align: center;
    }
.rows{
    display: flex;
    justify-content:space-between;
    gap: 2em;
}
.columns{
    display: flex;
    flex-direction: column;
width: 35%;
}
.column{
    margin-bottom: 1rem;
}
.space{
    width: 65%;
}
}